.infinite-cards {
  position: relative;
  height: 500px;
  width: 100%;
  display: grid;
  place-items: center center;
  
}
.card {
  position: absolute;
  border-radius: 5px;
  color: #fff;
  display: grid;
  place-items: center center;
  padding: 10px;
  margin: 10px;
}